#review-order{
	background:url(../images/review-order-bg.jpg)no-repeat 0 0;
	background-size:cover;
	width:100%;
	padding:100px 0 200px;
	@media screen and (max-width:767px){
		background-position:center;
	}
	.text-cont{
		h2{
			font-weight:bold;
			color:$brown;
			padding:50px 0 30px;
		}
		.order-btn{
			a{
				border:1px solid $base-color;
				font-size:18px;
				color:$base-color;
				padding:18px 0;
				width:215px;
				display:inline-block;
				margin:15px 0 35px 10px;
				&:hover{
					background:$brown;
					color:#fff;
					border:none;
					text-decoration:none;
				}
				&:focus{
					text-decoration:none;
				}
				@media screen and (max-width:500px){				
					margin: 0px 0 15px 5px;

				}
			}
		}
		.bookstores{
			span{
				font-size:16px;
				@media screen and (max-width:600px){
					padding:0 0 15px;
					display:inline-block;
				}
			}
			a{
				margin-left:15px;
				@media screen and (max-width:600px){
					display:block !important;
					margin: 0 0 15px;
				}				
				img{
					@media screen and (max-width:600px){
						width:150px;
						margin-bottom: 15px;
					}
				}
			}
			.amazon{
				position:relative;
				top:3px;
			}
		}
	}
}